[submodule "SCLAlertView-Swift"]
	path = SCLAlertView-Swift
	url = https://gholias@github.com/vikmeup/SCLAlertView-Swift.git
[submodule "Async"]
	path = Async
	url = https://gholias@github.com/duemunk/Async.git
[submodule "ProgressHUD"]
	path = ProgressHUD
	url = https://github.com/relatedcode/ProgressHUD.git
[submodule "PureLayout"]
	path = PureLayout
	url = https://github.com/smileyborg/PureLayout.git
