[submodule "SCLAlertView-Swift"]
	path = SCLAlertView-Swift
	url = https://gholias@github.com/vikmeup/SCLAlertView-Swift.git
[submodule "Async"]
	path = Async
	url = https://gholias@github.com/duemunk/Async.git
[submodule "PureLayout"]
	path = PureLayout
	url = https://github.com/smileyborg/PureLayout.git
[submodule "DrawerController"]
	path = DrawerController
	url = https://github.com/sascha/DrawerController.git
